.navbar {
    height: 5rem;
    width: 100%;
    display: flex;
}

.logo {
    width: 10rem;
    background-image: url("../images/medsync_custom_logo_transparent.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0%;
    position: relative;
    margin-left: 2rem;
    cursor: pointer;
}

.about_us {
    font-family: Poppins;
    font-size: 18px;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    padding-top: 5px;
}

.about_us p:hover{
    color: rgb(95, 105, 102);
    cursor: pointer;
}

.contact_us {
    font-family: Poppins;
    font-size: 18px;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    padding-top: 5px;
}

.contact_us p:hover{
    color: rgb(95, 105, 102);
    cursor: pointer;
}

.features{
    font-family: Poppins;
    font-size: 18px;
    width: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    padding-top: 5px;
}

.features p:hover{
    color: rgb(95, 105, 102);
    cursor: pointer;
}

.user {
    font-family: Poppins;
    font-size: 18px;
    width: 2rem;
    height: 5rem;
    font-weight: 400;
    padding-top: 5px;
    cursor: pointer;
    padding-top: 2px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 11rem;
}

.login_signup{
    font-family: Poppins;
    font-size: 18px;
    width: 10rem;
    height: 5rem;
    font-weight: 400;
    padding-top: 2px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 2rem;
}

.login_signup p:hover{
    color: rgb(95, 105, 102);
    cursor: pointer;
}

@media screen and (max-width: 425px){
    .about_us{
        display: none;
    }
    .features{
        display: none;
    }
    .login_signup{
        display: none
    }
    .logo{
        margin-left: 0rem;
    }
    .user{
        right: 1rem;
    }
    .contact_us{
        padding-top: 8px;
        font-size: 15px;
    }
    .logo{
        width: 7rem;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px){
    .about_us{
        padding-top: 8px;
        font-size: 15px;
        width: 7rem;
    }
    .contact_us{
        padding-top: 8px;
        font-size: 15px;
    }
    .features{
        display: none;
    }
    .login_signup{
        display: none
    }
    .logo{
        margin-left: 0rem;
    }
    .user{
        right: 1rem;
    }
    .logo{
        width: 7rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .features{
        display: none;
    }
}