.container{
    display: flex;
    width: 100%;
    height: 40rem;
}

.images{
    width: 50%;
    height: 100%;
    background-image: url("../images/istockphoto-1351305343-612x612.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.left{
    width: 50%;
    height: 100%;
    background-color: rgba(66, 232, 207, 0.94);
    background-image: linear-gradient(180deg, rgba(66, 232, 207, 0.94) 0%, rgba(62, 213, 221, 0.94) 100%);
}

.info{
    font-family: Poppins;
    font-size: 5rem;
    font-style:normal;
    font-weight: 600;
    width: 100%;
    height: 50%;
    text-align: center;
    justify-content: center;
    align-items:last baseline;
    display: flex;
    flex-wrap: wrap;
}

.get_started {
    width: 323.02px;
    height: 55px;
    border: 0px solid transparent;
    background: white;
    color: black;
    font-family: Poppins;
    font-size: 17.46px;
    font-weight: 600;
    text-align: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    top: 50px;
  }

  .lower{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
  }

@media screen and (max-width: 425px) {
    .images{
        display: none;
    }
    .left{
        width: 100%;
    }
    .get_started{
        top: 150px;
    }
    .info{
        font-size: 60px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .images{
        display: none;
    }
    .left{
        width: 100%;
    }
    .get_started{
        top: 100px;
    }
    .info{
        font-size: 60px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .info{
        font-size: 60px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .info{
        font-size: 60px;
    }
}